<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updates | Brandon's 2024 Election Model</title>
    <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>

        <div class="header">
            <nav>
                <a href="https://brandonpyle.com">Portfolio</a>
                <a href="/">Home</a>
            </nav>
        </div>

        <div class="updates-wrapper">
            <h1 class="updates">Updates</h1>
            <ul>
                <li>Version 2 released 8/10/2024 - The model has been updated awith the latest polling data. I also added a file picker to view past data (not currently working) and updated some styling.</li>
                <li>Version 1 officially released 8/9/2024</li>
            </ul>
    
            <h1>Coming Soon</h1>
            <ul>
                <li>Electoral votes tracker will be added soon.</li>
                <li>Model is currently calculated in excel and manually moved to this website, but I am working on calculating the model directly in javascript so it automatically updates.</li>
            </ul>
            </div>
        </div>

        <div class="footer">
            <p>&copy; Brandon Pyle 2024 |
                <a href="https://brandonpyle.com" target="_blank">Website</a> |
                <a href="https://github.com/bpyle02" target="_blank">Github</a>
            </p>
        </div>

    </body>
</html>